# Data files
*.fits
*.txt
*.pkl
*.png
*.xlsx
*.csv
*.pdf
*.aux
*.log
*.fls
*.synctex.gz
*.fdb_latexmk
*.pkl
*.pyc
*.csv
*.npz

# Output directories  
Disk_Residual_Profile/


# pkl
Median_SNR/all_disks.pkl
Median_SNR/disk_obj.pkl
disk_obj.pkl